# Database
DB_TYPE=sqlite
DB_NAME=./money.db
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

# Administrator
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=123456

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:8000","http://127.0.0.1:8000"]
